torch==2.2.2+cpu
torchvision==0.17.2+cpu
numpy<2
opencv-python
timm
scipy
scikit-image
kornia
einops
mediapipe==0.10.14
pillow

fastapi
uvicorn
cloudinary
python-dotenv

tqdm
prettytable
tabulate
ipykernel

huggingface-hub>0.25
accelerate
